
.main{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    
}
.main .photo{
    position: absolute;
    top: 5rem;
    right: 2rem;
   

}
.main .photo img{
   width: 80vh;
   height: 65vh;
  
}
.main .detail{
    position:absolute;
    top: 15rem;
    left: 15rem;
    line-height: 2rem;
}
.main .detail span{
    color: orange;
}


/* download css */
.download {
    margin: 0px;
    margin-top: 5rem;
    padding: 0px;
}
.download a{
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    /* background-color: #3498db; */
    background-image: linear-gradient(45deg, #ff4d00, #FFC300, #f1420c);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.detail .download .MuiSvgIcon-root{
    position: relative;
    margin: 1px;
    top: 8px;
}
/* socialmedia */
.socialmedia{
    margin-top: 2rem;
}
.socialmedia a{
    margin-right: 1.5rem;
    /* margin-top: 2rem; */
    font-size: 0rem;
    background-color: rgb(0, 0, 0);
    color: black;
    /* font-size: 20rem; */
}
.socialmedia .MuiSvgIcon-root{
    font-size: 3rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .main{
        justify-content: center;
    }
        
    .main .photo{
        position: relative;
    justify-content: center;
    margin-left: 4rem;
        top: 5rem;
        right: 2rem;

    }
    .main .photo img{
    width: 80vh;
    height: 65vh;
    }
    .main .detail{
        position:absolute;
        top: 45rem;
        /* left: 15rem; */
        justify-content: center;
        line-height: 2rem;
    }
    .main .detail h1{
        width: 130vw;
    }
}

@media screen and (max-width: 767px) {
    .main{
        padding: 1rem;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }
    .main .photo{
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin-left: 1rem;
    }
    .main .photo img{
        border-radius: 50%;
        /* background-color: rgb(0, 0, 0); */
        background-image: linear-gradient(45deg, #ff4d00, #FFC300, #f1420c);
        width: 100%;
        height: auto;
    }
    .main .detail{
        position: absolute;
       font-size: 0.6rem;
       top: 30rem;
       left: 6rem;
       line-height: 1.5rem;
       justify-content: center;
       text-align: center;
    }

}
