.navbar {
    margin: 0;
    padding: 0.5rem 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: white; */
    background-color: black;
}

.navbar .navsymbol span a {
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 700;
}

.navbar .navhead {
    padding: 0 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.navbar .navhead li .active {
    color: #ffffff;
}

.navbar .navhead li,
a {
    list-style: none;
    text-decoration: none;
    color: rgb(205, 191, 191);
    font-size: 1.2rem;
    font-weight: 500;
}

.navbar .navhead li,
a:hover {
    color: white;
    font-weight: 500;
}